/* img{
    max-width: 100%;
}
.right-icon{
     height: 15px;
     margin: -5px 0 0;
}
.a{
  background-color: transparent;
}
#white-bg{
    display: block;
    background-color: white;
    height: 60%;
    width:100% ;
    padding-top: 5px;
}
#row {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 auto;
    height: 445px;

}

#Top{
    align-items: center;
    vertical-align: baseline;
    display: flex;
    justify-content: space-between;
}

#left{
    flex: left;
    align-items: center;
}
#right{
    flex: right;
    align-items: center;
}

.Top-Nav-Item{
    color: black;
    display: inline;
    opacity: 0.7;
    padding: 5px 10px;
} */